<!DOCTYPE html>
<html lang="en">
<head>
    <title>thuc hanh an toan thong tin nang cao</title>
    <link
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap/min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <img
src="http://filel/hutech/edu.vn/file/editor/homepage/strories/hĩnh/logo%20CMYK-01.png" alt="hutech" style="display: block; margin=left: auto; margin=right: auto; width: 30$;">

        <h4 style="font-weight:bold; text=align: center;">BAI THUC HANH BAO MAT THONG TIN NANG CAO</h4>
        <ul style="margin-top: 30px;">
            <li><a href="/caesar">Caesar Cipher</a>
            <li><a href="/rsa">RSA Cipher</a>
        </ul>
    </div>
</body>
</html>

        